body{
	/* Uncomment below for stream-like preview */

/*
		background-image:url(samplestream.png);
		background-repeat:no-repeat;
*/

		background-color:grey;

}
table {
	border:0px;
	border-collapse: collapse;
}
td {
	border: 3px solid grey;
	border-collapse: collapse;
}

span{
	font-weight:900;
}

#logo{
	width:175px;
	/* Can change "white" to "transparent" if needed */
	background: white no-repeat center center;
	-webkit-background-size: contain;
	border-top:0px;
	border-left:0px;
	border-bottom:0px;
}



#team1 {
	color: #ffffff;
	font-size:30px;
	background-image: linear-gradient(#182cd5,#0c1b85);
	width:500px;
	padding-left:15px;
}

#team2 {
	color: #ffffff;
	font-size:30px;
	background-image: linear-gradient(#d4210e,#851105);
	padding-left:15px;
}

#score1{
	color:#000000;
	background-color:#ffffff;
	font-size:30px;
	text-align:center;
	width:91px;
}
#score2{
	color:#000000;
	background-color:#ffffff;
	font-size:30px;
	text-align:center;
}

#subtext {
	color: #000000;
	background-color:#ffffff;
	font-size:20px;
	padding-left:15px;
}

#norightnobottom {
	border-right:0px;
	border-bottom:0px;
	background-color:transparent;
}
